.English {
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #0033ff;
}

.Spanish {
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #336666;
} 

.Normal {
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #333333;
}
 
body {
	background-color: #3399FF;
}
